<ion-header>
  <ion-toolbar>
    <ion-title>Média</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Nota 1</ion-label>
  <ion-input type="number" [(ngModel)]="nota1"></ion-input>

  <ion-label>Nota 2</ion-label>
  <ion-input type="number" [(ngModel)]="nota2"></ion-input>

  <ion-label>Nota 3</ion-label>
  <ion-input type="number" [(ngModel)]="nota3"></ion-input>

  <ion-button (click)="enviadados()">Calcular Média</ion-button>

  <ion-button color="danger" expand="full" (click)="closeMedia()">Fechar</ion-button>
</ion-content>
