<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Índice de massa corporal</ion-card-subtitle>
        <ion-card-title>Faça o calculo de seu IMC aqui</ion-card-title>
        <ion-img src="../assets/img/download.jpg"></ion-img>
      </ion-card-header>
      
      <ion-card-content>
        <ion-button (click)="openModal()" expand="full">calculo IMC</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Notas</ion-card-subtitle>
        <ion-card-title>Faça o calculo de sua média</ion-card-title>
        <ion-img src="../assets/img/ii.png"></ion-img>
      </ion-card-header>
        
      <ion-card-content>
        <ion-button (click)="openMedia()" expand="full">Média de notas</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
